{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block register %}
    <main class="register-wrapper">
        <form class="register-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Student Registration</h2>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="age">Age</label>
            <input type="number" id="age" name="age" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*" required>

            <button type="submit">Submit</button>
        </form>
    </main>
{% endblock register %}