{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    {% block hero %}{% endblock %}
    {% block content %}{% endblock %}
    {% block register %}{% endblock register %}
    {% block grades %}{% endblock grades %}
    {% block feedback %}{% endblock feedback %}
    {% block login %}{% endblock login %}
</body>
</html>